<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='style.css'/>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script>
        $(document).ready(function(){
            $('img').replaceWith(function(){
                var src = $(this).attr('src');
                var alt = $(this).attr('alt');
                return '<div class="img"><div class="title">'+alt+
                ' [ <a href="'+link_svg(src)+'">svg</a> | <a href="'+link_png(src)+'">png</a> ]'+
                '</div><img src="'+src+'" alt="'+alt+'"/></div>';
            });
        });

        function link_svg(href) {
            return href.replace('.png', '.svg');
        }

        function link_png(href) {
            return href.replace('.svg', '.png');
        }
    </script>
    <title>{{ page.title }}</title>
</head>
<h1>netconfd <span>- Easy, pretty web administration</span></h1>
<div class="content">
{{ content }}
</div>
<body>
</body>
</html>
